* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* UTILITY CLASSES */
.padding-l {
  padding: 4rem 0;
}

.width-holder {
  width: 75%;
  margin: 0 auto;
}

/* UTILITY CLASSES */
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-image: url("../Assets/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-section,
.footer-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list,
.footer-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.cta-btn,
.nav-item,
.footer-item {
  display: inline-block;
  color: #383838;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
}
.cta-btn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  font-weight: 600;
}
span {
  font-size: 1.8rem;
  color: #adadad;
  font-weight: 300;
}
.hamburger {
  display: none;
}
.banner-sec {
  text-align: center;
}
.content {
  margin-bottom: 4rem;
}
.title-text {
  font-size: 5.6rem;
  font-weight: 600;
}
.text {
  color: #383838;
  font-size: 1.8rem;
  letter-spacing: 1.3px;
  margin: 1rem 0;
  font-weight: 300;
}
.bannerImg img {
  display: block;
  width: 100%;
}
.about-sec {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
}
.one .title-text {
  font-size: 3.6rem;
}
.footer-sec {
  margin: 4rem auto;
}

/* Media Queries */
@media (min-width: 750px) and (max-width: 1020px) {
  .width-holder {
    width: 90%;
  }
  .about-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .one {
    margin-top: 3rem;
  }
}
@media (max-width: 749px) {
  .hamburger {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .width-holder {
    width: 90%;
  }
  .about-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .one {
    margin-top: 3rem;
  }
  .footer-sec {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-list {
    margin-top: 1rem;
  }
}
